receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: 'python_app'
          scrape_interval: 5s
          static_configs:
            - targets: ['app:8000']
          # metric_relabel_configs:
          #  - source_labels: [__name__]
          #    regex: '^.*_bucket.*'
          #     action: drop

processors:
  memory_limiter:
    check_interval: 1s
    limit_percentage: 100
    spike_limit_percentage: 20
    # processor name: cumulativetodelta
  cumulativetodelta:
    # Convert all sum metrics
  filter:
    metrics:
      exclude:
        match_type: regexp
        metric_names: ['.*_bucket$']

exporters:
  debug:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers: [prometheus]
      processors: [memory_limiter, cumulativetodelta, filter]
      exporters: [debug]
