apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: otel-collector-cluster-role
rules:
  - apiGroups: [ "", "apps", "batch" ] # Ensure these are properly grouped
    resources:
      - pods
      - namespaces
      - nodes
      - services
      - replicasets
      - deployments
      - daemonsets
      - statefulsets
      - jobs        # Part of 'batch'
      - cronjobs    # Part of 'batch'
    verbs: [ "get", "list", "watch" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: otel-collector-cluster-role-binding
subjects:
  - kind: ServiceAccount
    name: opentelemetry-collector-collector # Name of the ServiceAccount
    namespace: opentelemetry-operator # The namespace where the SA is located
roleRef:
  kind: ClusterRole
  name: otel-collector-cluster-role # Name of the ClusterRole created above
  apiGroup: rbac.authorization.k8s.io
