name: Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the deployment environment'
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod
        default: dev

env:
  DEPLOY_ENV: ${{ inputs.environment }}

# Required if using OIDC for authentication in 2026
permissions:
  id-token: write
  contents: read

jobs:
  deploy-infra:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: 'Print Context Info'
        run: |
          echo "Environment Name: ${{ env.DEPLOY_ENV }}"
          echo "Apps Namespace Prefix: ${{ vars.NS_APPS_PREFIX }}"