name: Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the deployment environment'
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod
        default: dev

env:
  DEPLOY_ENV: ${{ inputs.environment }}

# Required if using OIDC for authentication in 2026
permissions:
  id-token: write
  contents: read
